@page "/add-comment/{postId:int}"
@inject NavigationManager NavigationManager
@using System.Net
@using System.Text
@using System.Text.Json
@using ApiContracts
@using ApiContracts.Comment
@using ApiContracts.Post
@using BlazorApp1.Services
@using Microsoft.AspNetCore.Mvc.Diagnostics
@inject HttpCommentService HttpCommentService
@rendermode InteractiveServer

<PageTitle>Add Comment</PageTitle>

<div class="register-card">
    <h1>Add Comment</h1>

    <div>
        <h3>User ID:</h3>
        <input type="number" placeholder="User ID" @bind="authorId" />
    </div>

    <div>
        <h3>Comment:</h3>
        <textarea placeholder="Enter your comment..." @bind="body"></textarea>
    </div>

    <div>
        <button @onclick="Submit">Publish</button>
    </div>
</div>

@code {
    [Parameter]
    public int postId { get; set; }
    public int authorId;
    public string body;

    public async Task Submit()
    {
        try
        {
            await HttpCommentService.AddCommentAsync(new CreateCommentDto()
            {
                Body = body,
                AuthorId = authorId,
                PostId = postId
            });
            NavigationManager.NavigateTo("posts/"+postId);
        }
        catch
        {
            //Do something in the future maybe
        }
    }
}