@page "/"
@inject NavigationManager NavMgr 
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized> <h3>Hello, @context.User.Identity.Name</h3> </Authorized> 
    <NotAuthorized> lol you are not logged in! </NotAuthorized>
</AuthorizeView> Here you can browse interesting posts. 
<button @onclick='() => NavMgr.NavigateTo("login")'>go to login</button>