<div class="custom-navmenu">
    <!-- Mobile toggle button -->
    <input type="checkbox" title="Navigation menu" class="custom-nav-toggler" id="navToggle" />
    <label for="navToggle">&#9776;</label>

    <!-- Top header / website name -->
    <div class="custom-nav-header">
        <a class="custom-nav-brand" href="">Fakesbook</a>
    </div>

    <!-- Navigation links -->
    <div class="custom-nav-links" onclick="document.getElementById('navToggle').click()">
        <div class="custom-nav-item">
            <a class="custom-nav-link" href="posts" Match="NavLinkMatch.All">
                <span class="custom-nav-icon bi bi-house-door-fill"></span> View Posts
            </a>
        </div>

        <div class="custom-nav-item">
            <a class="custom-nav-link" href="register">
                <span class="custom-nav-icon bi bi-person-plus-fill"></span> Register
            </a>
        </div>

        <div class="custom-nav-item">
            <a class="custom-nav-link" href="create-post">
                <span class="custom-nav-icon bi bi-plus-square-fill"></span> Create Post
            </a>
        </div>
    </div>
</div>